.manage-product img{
    width: 100%;
    height: 19rem;
    padding-block: 10px;
    object-fit: contain;
    margin: auto;
    transition: .2s;
}

/* .explore-products:hover{
    width: 31rem;
    padding: none;
} */

.manage-product{
    padding: 15px;
    transition: .2s;

}

.manage-products h2{
    font-size: 2.2em;
    font-weight: 700;
}

.card{
    box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.266);
    margin: 5px;
}