.admin-heading{
    margin-top: 3em;
    margin-bottom: 1em;
}

.admin-form input{
    width: 30%;
    height: 3em;
    border: 1px solid transparent;
    border-bottom: 1px solid black;
    border-radius: 5px;
    margin-bottom: 2em;
    padding-inline: 10px;
}

.admin-form:focus{
    border: 1px solid transparent;
    outline: 1px solid transparent;

}

.alert{
    display: grid;
    place-content: center;
    width: 50%;
    margin: auto;
    margin-top: 50px;
}