:root{
    --offcanvas-width:250px;
    --topNavbarHeight: 56px;
}

.dashboard .logOut-btn{
    border: 1px solid transparent;
    margin-left: 1.9rem;
    margin-top: 1rem;
    font-weight: 500;
}




.sidebar{
    width: var(--offcanvas-width);
}

.sidebar-content a{
    /* display: inline-block; */
    padding-left: 2rem;
    padding-bottom: 20px ;
}

.sidebar-content a{
    text-decoration: none;
    color: Black ;
    font-weight: 500;
}

/* .sidebar-content a:hover{
    color: white;
} */
.sidebar-content a:active{
    color: white;
}


/* .activeClass{
    color: rgba(165, 165, 165, 0.565);
} */

/* .cross{
    color: black;
} */
@media screen and (min-width:992px) {
    body{
        overflow: auto !important;
    }
    .offcanvas-backdrop::before{
        display: none;
    }

    main{
        margin-left: var(--offcanvas-width);
    }

    .btn-close{
        display: none;
    }
    
    .sidebar{
        transform: none !important;
        visibility: visible !important;
        /* top: var(--topNavbarHeight); */
        /* height: calc(100% - var(--topNavbarHeight)); */
    
    }
}