.banner{
    background-image:  url('https://i.ibb.co/n0rt6mP/rachel-park-hrlvr2-Zl-UNk-unsplash.jpg');
    height: 600px;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    display: grid;
    place-content: center;
}

.banner-info{
    color: white;
    text-align: center;
}

.banner h2{

    font-size: 2rem;
}
.banner p{
    max-width: 500px;
    font-size: 1.2rem;
    margin: auto;
}


.btn-row{
    width: 100%;
    margin: 0;
}
.banner-btn-container{
    /* font-size: 3rem; */
    margin-block: 2rem;
}

.banner-btn{
    display: inline-block;
    padding: 8px 40px;
    border: 1px solid transparent;
    border-radius: 50px;
    background-color: white;
    color: black;
    font-size: 2rem;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.674);
}


@media screen and (max-width:768px) {
    .banner-btn{
        margin: 10px;
    }

    .banner p{
        max-width: 75%;
        font-size: 1.1rem;
        margin: auto;
    }

    .banner-btn{
        padding: 8px 40px;
        border-radius: 50px;
        font-size: 1.8rem;
        font-weight: 500;
    }

    .banner h2{

        font-size: 1.7rem;
    }
    
}

@media screen and (max-width:500px) {
    .banner-btn{
        padding: 8px 40px;
        border-radius: 50px;
        font-size: 1.1rem;
        font-weight: 500;
    }
    .banner h2{

        font-size: 1.3rem;
    }

    .banner-btn-container{
        /* font-size: 3rem; */
        margin-block: 1rem;
    }
    .banner{
        height: auto;
    }
    .banner-info{
        padding-block: 50px;
    }
}
